In [6]:
#pip install mysql-connector
import mysql.connector as my_sql
my_db = my_sql.connect(
    host="localhost",
    user="Arduino",
    passwd="ArduinoGetStarted.com",
    database="vital_signs")
my_cursor = my_db.cursor()
    
# Execute the SQL query to fetch real-time data
my_cursor.execute("SELECT * FROM radar_sensor")    
data = my_cursor.fetchall()
    
for row in data:
    print(row[2])

2024-03-18 15:39:40
2024-03-18 15:39:47
2024-03-18 15:39:54
2024-03-18 15:40:01
2024-03-18 15:40:09
2024-03-18 15:40:17
2024-03-18 15:40:24
2024-03-18 15:40:32
2024-03-18 15:40:40
2024-03-18 15:40:47
2024-03-18 15:40:55
2024-03-18 15:41:02
2024-03-18 15:41:10
2024-03-18 15:41:17
2024-03-18 15:41:25
2024-03-18 15:41:33
2024-03-18 15:41:41
2024-03-18 15:41:48
2024-03-18 15:41:56
2024-03-18 15:42:03
2024-03-18 15:42:11
2024-03-18 15:42:20
2024-03-18 15:42:28
2024-03-18 15:42:36
2024-03-18 15:42:44
2024-03-18 15:42:52
2024-03-18 15:43:00
2024-03-18 15:43:10
2024-03-18 15:43:18
2024-03-18 15:43:27
2024-03-18 15:43:35
2024-03-18 15:43:43
2024-03-18 15:43:51
2024-03-18 15:44:00
2024-03-18 15:44:08
2024-03-18 15:44:16
2024-03-18 15:44:25
2024-03-18 15:44:33
2024-03-18 15:44:41
2024-03-18 15:44:50
2024-03-18 15:44:58
2024-03-18 15:45:06
2024-03-18 15:45:14
2024-03-18 15:45:23
2024-03-18 15:45:32
2024-03-18 15:45:41
2024-03-18 15:45:49
2024-03-18 15:45:57
2024-03-18 15:46:06
2024-03-18 15:46:15
2024-03-18 15:46:24
2024-03-18 15:46:34
2024-03-18 15:46:42
2024-03-18 15:46:51
2024-03-18 15:47:00
2024-03-18 15:47:10
2024-03-18 15:47:18
2024-03-18 15:47:27
2024-03-18 15:47:36
2024-03-18 15:47:45
2024-03-18 15:47:54
2024-03-18 15:48:03
2024-03-18 15:48:12
2024-03-18 15:48:21
2024-03-18 15:48:31
2024-03-18 15:48:40
2024-03-18 15:48:49
2024-03-18 15:48:58
2024-03-18 15:49:07
2024-03-18 15:49:16
2024-03-18 15:49:25
2024-03-18 15:49:34
2024-03-18 15:49:44
2024-03-18 15:49:53
2024-03-18 15:50:03
2024-03-18 15:50:13
2024-03-18 15:50:22
2024-03-18 15:50:31
2024-03-18 15:50:40
2024-03-18 15:50:50
2024-03-18 15:51:00
2024-03-18 15:51:10
2024-03-18 15:51:19
2024-03-18 15:51:28
2024-03-18 15:51:38
2024-03-18 15:51:48
2024-03-18 15:51:58
2024-03-18 15:52:08
2024-03-18 15:52:18
2024-03-18 15:52:28
2024-03-18 15:52:38
2024-03-18 15:52:48
2024-03-18 15:52:58
2024-03-18 15:53:07
2024-03-18 15:53:17
2024-03-18 15:53:27
2024-03-18 15:53:37
2024-03-18 15:53:48
2024-03-18 15:53:57
2024-03-18 15:54:08
2024-03-18 15:54:18
2024-03-18 15:54:28
2024-03-18 15:54:38
2024-03-18 15:54:48
2024-03-18 15:54:58
2024-03-18 15:55:08
2024-03-18 15:55:18
2024-03-18 15:55:28
2024-03-18 15:55:39
2024-03-18 15:55:49
2024-03-18 15:55:59
2024-03-18 15:56:10
2024-03-18 15:56:20
2024-03-18 15:56:31
2024-03-18 15:56:42
2024-03-18 15:56:52
2024-03-18 15:57:03
2024-03-18 15:57:14
2024-03-18 15:57:25
2024-03-18 15:57:36
2024-03-18 15:57:46
2024-03-18 15:57:57
2024-03-18 15:58:08
2024-03-18 15:58:19
2024-03-18 15:58:29
2024-03-18 15:58:41
2024-03-18 15:58:52
2024-03-18 15:59:03
2024-03-18 15:59:14
2024-03-18 15:59:25
2024-03-18 15:59:37
2024-03-18 15:59:48
2024-03-18 15:59:59
2024-03-18 16:00:10
2024-03-18 16:00:21
2024-03-18 16:00:32
2024-03-18 16:00:44
2024-03-18 16:00:55
2024-03-18 16:01:06
2024-03-18 16:01:17
2024-03-18 16:01:29
2024-03-18 16:01:40
2024-03-18 16:01:52
2024-03-18 16:02:04
2024-03-18 16:02:15
2024-03-18 16:02:26
2024-03-18 16:02:39
2024-03-18 16:02:50
2024-03-18 16:03:01
2024-03-18 16:03:13
2024-03-18 16:03:25
2024-03-18 16:03:36
2024-03-18 16:03:49
2024-03-18 16:04:01
2024-03-18 16:04:13
2024-03-18 16:04:24
2024-03-18 16:04:36
2024-03-18 16:04:48
2024-03-18 16:05:01
2024-03-18 16:05:13
2024-03-18 16:05:25
2024-03-18 16:05:37
2024-03-18 16:05:49
2024-03-18 16:06:01
2024-03-18 16:06:13
2024-03-18 16:06:25
2024-03-18 16:06:37
2024-03-18 16:06:49
2024-03-18 16:07:01
2024-03-18 16:07:13
2024-03-18 16:07:25
2024-03-18 16:07:38
2024-03-18 16:07:50
2024-03-18 16:08:03
2024-03-18 16:08:16
2024-03-18 16:08:29
2024-03-18 16:08:41
2024-03-18 16:08:53
2024-03-18 16:09:06
2024-03-18 16:09:18
2024-03-18 16:09:31
2024-03-18 16:09:43
2024-03-18 16:09:56
2024-03-18 16:10:08
2024-03-18 16:10:21
2024-03-18 16:10:33
2024-03-18 16:10:46
2024-03-18 16:10:59

In [50]:
import matplotlib.pyplot as plt
%matplotlib tk
import matplotlib.animation as animation
import time
#libraries we need:
import mysql.connector as my_sql
import matplotlib.animation as animation 
import matplotlib.pyplot as plt 
import numpy as np 
global data

fig = plt.figure()
ax1 = fig.add_subplot(1,1,1)


    
# Execute the SQL query to fetch real-time data
#my_cursor.execute("SELECT * FROM radar_sensor")    
#data = my_cursor.fetchall()

def animate(i):
    #pullData = open("sampleText.txt","r").read()
    #dataArray = pullData.split('\n')
    my_db = my_sql.connect(
        host="localhost",
        user="Arduino",
        passwd="ArduinoGetStarted.com",
        database="vital_signs")
    my_cursor = my_db.cursor()
    my_cursor.execute("SELECT * FROM radar_sensor")    
    data = my_cursor.fetchall()
    xar = []
    yar = []
    for row in data:
        xar.append(row[0]) #timestamp - id actually
        #print(row)
        yar.append(row[4]) #heartrate; row 4 = breathing rate
    ax1.clear()
    ax1.plot(xar,yar)
    #ax1.plot(yar)

#ani = animation.FuncAnimation(fig, animate, fargs=(xs, ys), interval=1000)
ani = animation.FuncAnimation(fig, animate, interval=1000)
#plt.show()

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_3272\1880136665.py:43: UserWarning: frames=None which we can infer the length of, did not pass an explicit *save_count* and passed cache_frame_data=True.  To avoid a possibly unbounded cache, frame data caching has been disabled. To suppress this warning either pass `cache_frame_data=False` or `save_count=MAX_FRAMES`.
  ani = animation.FuncAnimation(fig, animate, interval=1000)
Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\natha\anaconda3\Lib\site-packages\mysql\connector\network.py", line 509, in open_connection
    self.sock.connect(sockaddr)
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\natha\anaconda3\Lib\tkinter\__init__.py", line 1948, in __call__
    return self.func(*args)
           ^^^^^^^^^^^^^^^^
  File "C:\Users\natha\anaconda3\Lib\tkinter\__init__.py", line 861, in callit
    func(*args)
  File "C:\Users\natha\anaconda3\Lib\site-packages\matplotlib\backends\_backend_tk.py", line 145, in _on_timer
    super()._on_timer()
  File "C:\Users\natha\anaconda3\Lib\site-packages\matplotlib\backend_bases.py", line 1233, in _on_timer
    ret = func(*args, **kwargs)
          ^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\natha\anaconda3\Lib\site-packages\matplotlib\animation.py", line 1427, in _step
    still_going = super()._step(*args)
                  ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\natha\anaconda3\Lib\site-packages\matplotlib\animation.py", line 1121, in _step
    self._draw_next_frame(framedata, self._blit)
  File "C:\Users\natha\anaconda3\Lib\site-packages\matplotlib\animation.py", line 1140, in _draw_next_frame
    self._draw_frame(framedata)
  File "C:\Users\natha\anaconda3\Lib\site-packages\matplotlib\animation.py", line 1768, in _draw_frame
    self._drawn_artists = self._func(framedata, *self._args)
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_3272\1880136665.py", line 24, in animate
    my_db = my_sql.connect(
            ^^^^^^^^^^^^^^^
  File "C:\Users\natha\anaconda3\Lib\site-packages\mysql\connector\__init__.py", line 179, in connect
    return MySQLConnection(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\natha\anaconda3\Lib\site-packages\mysql\connector\connection.py", line 95, in __init__
    self.connect(**kwargs)
  File "C:\Users\natha\anaconda3\Lib\site-packages\mysql\connector\abstracts.py", line 716, in connect
    self._open_connection()
  File "C:\Users\natha\anaconda3\Lib\site-packages\mysql\connector\connection.py", line 206, in _open_connection
    self._socket.open_connection()
  File "C:\Users\natha\anaconda3\Lib\site-packages\mysql\connector\network.py", line 511, in open_connection
    raise errors.InterfaceError(
mysql.connector.errors.InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (10061 No connection could be made because the target machine actively refused it)
Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\natha\anaconda3\Lib\site-packages\mysql\connector\network.py", line 140, in send_plain
    self.sock.sendall(packet)
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\natha\anaconda3\Lib\tkinter\__init__.py", line 1948, in __call__
    return self.func(*args)
           ^^^^^^^^^^^^^^^^
  File "C:\Users\natha\anaconda3\Lib\tkinter\__init__.py", line 861, in callit
    func(*args)
  File "C:\Users\natha\anaconda3\Lib\site-packages\matplotlib\backends\_backend_tk.py", line 145, in _on_timer
    super()._on_timer()
  File "C:\Users\natha\anaconda3\Lib\site-packages\matplotlib\backend_bases.py", line 1233, in _on_timer
    ret = func(*args, **kwargs)
          ^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\natha\anaconda3\Lib\site-packages\matplotlib\animation.py", line 1427, in _step
    still_going = super()._step(*args)
                  ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\natha\anaconda3\Lib\site-packages\matplotlib\animation.py", line 1121, in _step
    self._draw_next_frame(framedata, self._blit)
  File "C:\Users\natha\anaconda3\Lib\site-packages\matplotlib\animation.py", line 1140, in _draw_next_frame
    self._draw_frame(framedata)
  File "C:\Users\natha\anaconda3\Lib\site-packages\matplotlib\animation.py", line 1768, in _draw_frame
    self._drawn_artists = self._func(framedata, *self._args)
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_3272\863482925.py", line 29, in animate
    my_cursor.execute("SELECT * FROM radar_sensor")
  File "C:\Users\natha\anaconda3\Lib\site-packages\mysql\connector\cursor.py", line 551, in execute
    self._handle_result(self._connection.cmd_query(stmt))
                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\natha\anaconda3\Lib\site-packages\mysql\connector\connection.py", line 490, in cmd_query
    result = self._handle_result(self._send_cmd(ServerCmd.QUERY, query))
                                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\natha\anaconda3\Lib\site-packages\mysql\connector\connection.py", line 259, in _send_cmd
    self._socket.send(
  File "C:\Users\natha\anaconda3\Lib\site-packages\mysql\connector\network.py", line 142, in send_plain
    raise errors.OperationalError(
mysql.connector.errors.OperationalError: 2055: Lost connection to MySQL server at 'localhost:3306', system error: 10054 An existing connection was forcibly closed by the remote host
Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\natha\anaconda3\Lib\site-packages\mysql\connector\network.py", line 140, in send_plain
    self.sock.sendall(packet)
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\natha\anaconda3\Lib\tkinter\__init__.py", line 1948, in __call__
    return self.func(*args)
           ^^^^^^^^^^^^^^^^
  File "C:\Users\natha\anaconda3\Lib\tkinter\__init__.py", line 861, in callit
    func(*args)
  File "C:\Users\natha\anaconda3\Lib\site-packages\matplotlib\backends\_backend_tk.py", line 145, in _on_timer
    super()._on_timer()
  File "C:\Users\natha\anaconda3\Lib\site-packages\matplotlib\backend_bases.py", line 1233, in _on_timer
    ret = func(*args, **kwargs)
          ^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\natha\anaconda3\Lib\site-packages\matplotlib\animation.py", line 1427, in _step
    still_going = super()._step(*args)
                  ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\natha\anaconda3\Lib\site-packages\matplotlib\animation.py", line 1121, in _step
    self._draw_next_frame(framedata, self._blit)
  File "C:\Users\natha\anaconda3\Lib\site-packages\matplotlib\animation.py", line 1140, in _draw_next_frame
    self._draw_frame(framedata)
  File "C:\Users\natha\anaconda3\Lib\site-packages\matplotlib\animation.py", line 1768, in _draw_frame
    self._drawn_artists = self._func(framedata, *self._args)
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_3272\1423734333.py", line 29, in animate
    my_cursor.execute("SELECT * FROM radar_sensor")
  File "C:\Users\natha\anaconda3\Lib\site-packages\mysql\connector\cursor.py", line 551, in execute
    self._handle_result(self._connection.cmd_query(stmt))
                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\natha\anaconda3\Lib\site-packages\mysql\connector\connection.py", line 490, in cmd_query
    result = self._handle_result(self._send_cmd(ServerCmd.QUERY, query))
                                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\natha\anaconda3\Lib\site-packages\mysql\connector\connection.py", line 259, in _send_cmd
    self._socket.send(
  File "C:\Users\natha\anaconda3\Lib\site-packages\mysql\connector\network.py", line 142, in send_plain
    raise errors.OperationalError(
mysql.connector.errors.OperationalError: 2055: Lost connection to MySQL server at 'localhost:3306', system error: 10054 An existing connection was forcibly closed by the remote host